<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="EfContext" connectionString="data source=AODELL;database=GoknilTransfer;User ID=sa;Password=Lbs12345" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISvc" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/LogoObjectService/Service" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISvc" contract="ServiceReference1.ISvc" name="BasicHttpBinding_ISvc" />
        </client>
    </system.serviceModel>
</configuration>